# to include default stuff -> not included by default
$include /etc/inputrc
# this info got from official ubuntu guide
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char
set completion-ignore-case on
set blink-matching-paren on

# set editing-mode vi
#$if mode=vi
#set keyseq-timeout 50
#set show-mode-in-prompt on

#set vi-ins-mode-string \1\e[34;1m\2(ins)\1\e[0m\2
#set vi-cmd-mode-string \1\e[35;1m\2(cmd)\1\e[0m\2
#set keymap vi-command
# these are for vi-command mode
#Control-l: clear-screen
#Control-a: beginning-of-line
#Control-e: end-of-line

#"\e[A": history-search-backward
#"\e[B": history-search-forward
# navigating trought history
#k: history-search-backward
#j: history-search-forward

#set keymap vi-insert
# these are for vi-insert mode
#Control-l: clear-screen
#Control-a: beginning-of-line
#Control-e: end-of-line

#"\e[A": history-search-backward
#"\e[B": history-search-forward
# v: ""
#$endif
